@mixin fonts($fs, $fw, $lh, $ls) {
  font-size: $fs;
  font-weight: $fw;
  line-height: $lh;
  letter-spacing: $ls;
}

@mixin dFlexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin tel {
  @media screen and (min-width: 480px) {
    @content;
  }
}

@mixin tab {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin tel {
  @media screen and (min-width: 1200px) {
    @content;
  }
}
