.hcaption {
  margin-bottom: 30px;
  color: var(--primary-text-color);
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 0.03em;
  @media screen and (min-width: 1200px) {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
}
