.team {
  background: #f5f4fa;
}

.ourteam {
  margin-bottom: -30px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
  }
}

.ourteam__list {
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    width: calc(100% / 2 - 30px);
    margin-right: 30px;
  }
  @media screen and (min-width: 1200px) {
    width: calc(100% / 4 - 30px);
  }
}

.ourteam__employee {
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.ourteam__text {
  @include fonts(16px, 400, 1.18, 0.03em);
  text-align: center;
  padding: 30px 0 24px 0;
  @media screen and (min-width: 1200px) {
    padding: 30px 0;
  }
}

.ourteam__firsname {
  color: var(--primary-text-color);
  font-weight: 500;
  margin-bottom: 10px;
}

.ourteam__post {
  color: var(--secondary-text-color);
  margin-bottom: 16px;
}

.ourteam-social {
  @include dFlexCenter;
}

.ourteam-social__item {
  margin-right: 10px;
  &:last-child {
    margin-right: 0;
  }
}

.ourteam-social__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  @include dFlexCenter;
  fill: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    fill: var(--primary-white-color);
  }
}
