.peculiarities {
  margin-bottom: -30px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
  }
}

.peculiarities__detail {
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    width: calc(100% / 2 - 30px);
    margin-right: 30px;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-direction: column;
    width: calc(100% / 4 - 30px);
    margin-right: 30px;
  }
}

.peculiarities__card {
  background: #f5f4fa;
  border-radius: 4px;
  height: 120px;
  margin-bottom: 30px;
  @include dFlexCenter;
}

.peculiarities__title {
  color: var(--primary-text-color);
  @include fonts(14px, 700, 1.14, 0.03em);
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
  @media screen and (min-width: 768px) {
    text-align: start;
  }
}

.peculiarities__text {
  color: var(--secondary-text-color);
  @include fonts(14px, 400, 1.71, 0.03em);
}
